modules = ["go", "golang-1.21"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HackSim Game"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run-hacksim"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "HackSim Web"

[[workflows.workflow]]
name = "HackSim Game"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go mod tidy && go run main.go"

[[workflows.workflow]]
name = "run-hacksim"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go play --simple"

[[workflows.workflow]]
name = "HackSim Web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go web"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "go mod tidy && go run main.go"]

[[ports]]
localPort = 5000
externalPort = 80
